[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ifcopenshell-python = "*"
lark = "*"
numpy = "*"
scipy = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"
ipykernel = "*"
icecream = "*"

[requires]
python_version = "3.9"
